
.header{
  position:fixed;
  left:0%;
  top: 0%;
  right: 0%;
  height: 100px;
  margin: 10px;
  margin-top: 0%;
  background-image: linear-gradient(to left, rgb(219, 102, 209),yellow,rgb(0, 255, 179));
  display: grid;
  grid-template-rows: 50px;
  grid-column: 100px 10px 10px 10px 10px;
}
